input[type=submit]
{
	border: none;
}

.menu-bar
{
	padding: 30px;
}
.menu-bar a
{
	margin: 5px;
	padding: 5px 20px;
    background: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
}
.menu-bar a:hover
{
	background: #fff;
    color: #337ab7;
    border: 1.5px solid #337ab7;
}
div.container
{
	width: 100%;
    margin-top: 30vh;
    text-align: center;
}
.margin-center
{
	margin: auto;
}

body.grey-bg 
{
		background: #eee !important;
}

.wrapper 
{
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin 
{
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox 
{
	margin-bottom: 30px;
}
.form-signin .checkbox 
{
	font-weight: normal;
	display: block;
}
.form-signin .form-control 
{
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus 
{
	z-index: 2;
}
.form-signin input.form-control 
{
	width: 100%;
}
.form-signin input[type="text"] 
{
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] 
{
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}